.contact {
    text-align: center;
}
h3 {
    text-align: center;
    color: red;
}
p {
    text-align: left;
    color: white;
}
body {
    background: #999999;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    color: #9fc5e8;
}
.about {
    text-align: left;
    color: black;
}
.projects {
    color: #ffffff;
    background: #000000;
}
.left {
    text-align: left;
}

.attention {
    font-weight: bold;
}